---
import { ClientRouter } from "astro:transitions";

interface Props {
  children: any;
  title: string;
  description: string;
  pubDate: string;
}

const { title, description, pubDate, className, ...rest } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" href="/LiterataTT_var.woff2" as="font" type="font/woff2" />
    <link rel="preload" href="/DepartureMono-Regular.woff2" as="font" type="font/woff2" />

    <title>skyeto | {title}</title>

    <!-- *sigh* SEO / Meta tags... -->
    <link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />
    {
      Astro.url.pathname == "/" && (
        <meta name="description" content={description} />
      )
    }

    <meta property="og:site_name" content="Ramblings of a Fox" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content={"skyeto | " + title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={new URL(Astro.url.pathname, Astro.site)} />

    {pubDate && <meta property="article:published_time" content={pubDate} />}

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={"skyeto | " + title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:url"
      content={new URL(Astro.url.pathname, Astro.site)}
    />
    <meta name="twitter:site" content="@skyetothefox" />
    <meta name="twitter:creator" content="@skyetothefox" />
    <meta name="twitter:dnt" content="on" />
    <ClientRouter fallback="swap" />
  </head>
  <body class={className} {...rest}>
    <slot />
  </body>
</html>
