---
import Default from "./Default.astro";
const { frontmatter, headings } = Astro.props;
---

<Default
  title={frontmatter.title}
  description={frontmatter.description}
  pubDate={frontmatter.pubDate}
>
  <article class="contents">
    <div class="col-start-3 row-start-2 mt-5 mb-5">
      <h1
        id="top"
        class="text-neutral-100 mix-blend-luminosity"
        style="font-size: 1.9rem"
      >
        {frontmatter.title}
      </h1>
      <div class="date flex">
        <div>{frontmatter.pubDate.slice(0,10)}</div>
        <span class="mx-2 my-auto h-[2px] grow-1 bg-white/50"></span>
        <div>by {frontmatter.author}</div>
      </div>
    </div>

    <div class="col-start-3 row-start-3">
      <slot />
    </div>
  </article>

  <div class="relative bottom-0 col-span-full col-start-4 row-start-3">
    <div id="toc" class="sticky top-10">
      <div class="title">
        <a href="#top">{frontmatter.title}</a>
      </div>
      <div class="opacity-80 transition hover:opacity-100">
        { headings.map((h) => { return (
        <div id=`toc-${h.slug}` class=`d${h.depth}`>
          <a
            class="text-white transition hover:text-cyan-400"
            href=`#${h.slug}`
            >{h.text}</a
          >
        </div> )
        ; }) }
      </div>
    </div>
  </div>
</Default>

<script></script>

<style>
  article {
    font-family: var(--text-font-family);
    /* font-size: 1.14rem; */
    font-size: 1rem;
    line-height: 1.54;
    font-weight: 400;

    font-feature-settings: normal;
    font-variant-ligatures: common-ligatures;

    /* text-align: justify;
    text-align-last: left;*/
    hyphens: auto;
    hyphenate-limit-lines: 2;
  }

  article :global(p, ul, ol) {
    margin-bottom: 0.8rem;
  }

  article :global(ol) {
    list-style-type: decimal;
  }

  article :global(ul) {
    list-style-type: circle;
  }

  article :global(h1, h2, h3, h4, h5) {
    font-family: var(--heading-font-family);
  }

  article :global(.heading-link > svg) {
    display: inline;
    width: 0.833rem;
    height: 0.833rem;
    opacity: 0.1;
    margin-left: -1.15rem;
    margin-right: 0.15rem;
  }

  article :global(h2) {
    font-size: 1.44rem;
    font-weight: 900;
    margin-top: 2rem;
  }

  article :global(h3) {
    margin-top: 1.5rem;
    font-size: 1.15rem;
  }

  article :global(h4) {
    font-size: 1.15rem;
  }

  article :global(aside) {
    position: absolute;
    font-size: 0.833rem;
    float: left;
    display: block;
    clear: both;
    margin-left: -14rem;
    width: 12.5rem;
  }

  @media (width <= 1368px) {
    article :global(aside) {
      position: relative;
      font-size: 0.833rem;
      display: block;
      clear: none;
      margin-left: 0rem;
      margin-bottom: 0.8rem;
      width: 100%;
    }
  }

  article .date {
    font-family: var(--tool-font-family);
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.833rem !important;
  }

  #toc .title {
    font-size: 0.9rem;
    font-weight: 900;
    opacity: 0.9;
    margin-bottom: 0.5rem;
  }

  .d1,
  .d2,
  .d3,
  .d4 {
    font-size: 0.833rem;
  }
  .d1 {
  }

  .d2 {
    font-weight: 700;
  }

  .d3 {
    opacity: 0.9;
    margin-left: 0.5rem;
  }

  .d4 {
    opacity: 0.9;
    margin-left: 1rem;
  }
</style>
